@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500&display=swap');
/* @import url('../fonts/gilroy/fonts.css'); */

.f{
    font-family: 'Roboto Slab', serif;
}


.imgs{
    animation: slowBounce 1.5s linear 1s infinite alternate-reverse;
}

.img2::before{
    content: url(https://html.creativegigstf.com/deski/deski/images/shape/104.svg);
    position: absolute;
    top: 26%;
    left: -50%;
    z-index: 1;
}

.img2::after{
    content: url(https://html.creativegigstf.com/deski/deski/images/shape/104.svg);
    position: absolute;
    top: 26%;
    right: -40%;
    z-index: 1;
}

.stpt::before{
    content: "";
    position: absolute;
    top:60%;
    height: 25%;
    z-index: -1;
    width: 100%;
    background-color: rgba(241,193,83,.50);
}

.crdheader::before{
    content: url("./Images/dd.jpg");
    position: absolute;
    padding-top: 20px;
    left: 40%;
}

.ww::before{
    content: "";
    position: absolute;
    height: 25%;
    top:60%;
    z-index: -1;
    width: 100%;
    background-color: rgba(241,193,83,.50);
}

@media screen and (max-width:1000px) {
    .img2::after{
        visibility:hidden;
    }
    .img2::before{
        visibility:hidden;
    }
    .crdheader::before{
        visibility: hidden;
    }
}